/* line 1, ../sass/common-theme.scss */
header {
  border-top: 12px solid #a2a2a2;
}
/* line 3, ../sass/common-theme.scss */
header nav .nav-area ul li {
  top: 0;
}
/* line 5, ../sass/common-theme.scss */
header nav .nav-area ul li.yume {
  top: 10px;
}
/* line 9, ../sass/common-theme.scss */
header .sp-logo {
  background: none;
  height: auto;
}
@media (max-width: 767px) {
  /* line 12, ../sass/common-theme.scss */
  header .sp-logo a {
    float: none;
    margin: 0 auto;
  }
}

/* line 20, ../sass/common-theme.scss */
.cb-well h3,
.copyright {
  color: #a2a2a2;
}

/* line 26, ../sass/common-theme.scss */
.cb-subscription-manage dl {
  border-top: 1px solid #ebe5ed;
  overflow: hidden;
  padding: 8px 15px;
  background-color: #fff3e9;
}
/* line 32, ../sass/common-theme.scss */
.cb-subscription-manage .small-12-month-prepay-plan,
.cb-subscription-manage .small-6-month-prepay-plan,
.cb-subscription-manage .small-3-month-prepay-plan,
.cb-subscription-manage .small-monthly-plan {
  background-color: #fdf5ff;
}
/* line 37, ../sass/common-theme.scss */
.cb-subscription-manage .small-12-month-prepay-plan a.arrow,
.cb-subscription-manage .small-6-month-prepay-plan a.arrow,
.cb-subscription-manage .small-3-month-prepay-plan a.arrow,
.cb-subscription-manage .small-monthly-plan a.arrow {
  background-color: #be93c9;
}

/* line 42, ../sass/common-theme.scss */
#switch {
  padding-bottom: 0;
  overflow: hidden;
  border: 2px solid #a2a2a2;
}

/* line 48, ../sass/common-theme.scss */
a.arrow {
  position: absolute;
  top: 6px;
  right: 0px;
  background-color: #ff7a0f;
  border-bottom: none;
  border-radius: 5px;
  display: inline-block;
  padding: 4px 20px;
  color: #ffffff;
  font-weight: normal;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
}
@media screen and (max-width: 768px) {
  /* line 48, ../sass/common-theme.scss */
  a.arrow {
    display: block;
    width: 100%;
    padding: 8px 10px;
    text-align: center;
  }
}
/* line 67, ../sass/common-theme.scss */
a.arrow .glyphicon {
  top: 1px;
  left: 6px;
  transform: scale(0.8, 0.8);
}
/* line 72, ../sass/common-theme.scss */
a.arrow.glay {
  background-color: #b1b1b1;
}
@media screen and (min-width: 768px) {
  /* line 75, ../sass/common-theme.scss */
  a.arrow:hover {
    opacity: 0.7;
  }
}

/* line 82, ../sass/common-theme.scss */
footer#footer {
  line-height: 140px;
  background: #fafafa;
  color: #707070;
}
/* line 86, ../sass/common-theme.scss */
footer#footer a {
  color: #707070;
}
