/* line 1, ../sass/mystyles.scss */
#cancel-immediately-info .glyphicon-exclamation-sign {
  top: 10px;
}

@media screen and (min-width: 768px) {
  /* line 5, ../sass/mystyles.scss */
  .container {
    width: 1170px !important;
  }
}
@media (min-width: 992px) {
  /* line 5, ../sass/mystyles.scss */
  .container {
    width: 1170px !important;
  }
}

/* line 13, ../sass/mystyles.scss */
header {
  z-index: 9998;
}
@media screen and (max-width: 768px) {
  /* line 15, ../sass/mystyles.scss */
  header .navbar-toggle {
    margin-top: 18px;
    margin-bottom: 0;
  }
}

/* line 22, ../sass/mystyles.scss */
.modal-backdrop {
  z-index: 9999;
}

/* line 25, ../sass/mystyles.scss */
.container.renew {
  width: 920px !important;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  /* line 25, ../sass/mystyles.scss */
  .container.renew {
    width: 100% !important;
  }
}

/* line 32, ../sass/mystyles.scss */
.payment-history h2 small {
  font-size: 11px;
  line-height: 16px;
  display: block;
  margin-top: 8px;
}

/* line 38, ../sass/mystyles.scss */
h2.title {
  position: relative;
  text-align: center;
  color: #ff7a0f;
  padding: 15px 0;
  margin: 0;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 768px) {
  /* line 38, ../sass/mystyles.scss */
  h2.title {
    text-align: left;
    padding-left: 15px;
    font-size: 20px;
  }
}
/* line 51, ../sass/mystyles.scss */
h2.title span {
  position: relative;
  z-index: 2;
}
/* line 55, ../sass/mystyles.scss */
h2.title:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  /* line 55, ../sass/mystyles.scss */
  h2.title:before {
    z-index: 1;
  }
}

/* line 65, ../sass/mystyles.scss */
.back-orange {
  background-color: #ff7a0f;
}
/* line 67, ../sass/mystyles.scss */
.back-orange.title {
  color: #ffffff;
}

/* line 71, ../sass/mystyles.scss */
.back-glay {
  background-color: #efefef;
}
/* line 73, ../sass/mystyles.scss */
.back-glay.title {
  border-radius: 3px 3px 0 0;
  color: #ff7a0f;
}

/* line 78, ../sass/mystyles.scss */
.link-area {
  padding: 16px;
  padding-top: 0;
}

/* line 83, ../sass/mystyles.scss */
#Timeline {
  top: 100px !important;
}
/* line 85, ../sass/mystyles.scss */
#Timeline .modal-header {
  background-color: #efefef;
  padding: 0 15px;
  border-radius: 6px 6px 0 0;
}
/* line 90, ../sass/mystyles.scss */
#Timeline h2.title {
  text-align: left;
  font-size: 28px;
  padding-bottom: 10px;
  box-shadow: none;
}
/* line 95, ../sass/mystyles.scss */
#Timeline h2.title small {
  font-size: 11px;
  line-height: 16px;
  display: block;
  margin-top: 8px;
}

/* line 103, ../sass/mystyles.scss */
ul#g-menu.add_menu {
  left: 80px;
}

/* line 107, ../sass/mystyles.scss */
.navbar-collapse > .navbar-nav > .dropdown, .navbar-toggle {
  margin-top: 17px;
}

/* line 110, ../sass/mystyles.scss */
.renew {
  width: 920px;
  margin: 0 auto;
}
/* line 113, ../sass/mystyles.scss */
.renew .cb-well {
  padding: 0;
}
/* line 115, ../sass/mystyles.scss */
.renew .cb-well.glay-border {
  border: 2px solid #d3d3d3;
}
/* line 121, ../sass/mystyles.scss */
.renew .box-info .image-wrap img {
  width: 380px;
}
@media screen and (max-width: 768px) {
  /* line 121, ../sass/mystyles.scss */
  .renew .box-info .image-wrap img {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  /* line 119, ../sass/mystyles.scss */
  .renew .box-info {
    margin: 0 -1%;
    overflow: hidden;
    padding-bottom: 20px;
  }
  /* line 132, ../sass/mystyles.scss */
  .renew .box-info:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0px;
    left: 0;
    border-top: 1px dashed #ff7a0f;
    transform: scale(2, 1);
  }
  /* line 142, ../sass/mystyles.scss */
  .renew .box-info .arrow {
    width: 48%;
    margin: 0 1%;
  }
}
@media screen and (max-width: 768px) {
  /* line 149, ../sass/mystyles.scss */
  .renew .my-info h3 {
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 6px;
  }
}
@media screen and (max-width: 768px) {
  /* line 157, ../sass/mystyles.scss */
  .renew #cb-portal-billing {
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  /* line 162, ../sass/mystyles.scss */
  .renew #cb-portal-billing,
  .renew #cb-portal-payment-method {
    min-height: 275px;
  }
}
/* line 168, ../sass/mystyles.scss */
.renew #cb-portal-billing address {
  padding: 16px;
  margin-bottom: 0;
}
/* line 172, ../sass/mystyles.scss */
.renew a.arrow {
  background-color: #ff7a0f;
  border-bottom: none;
  border-radius: 5px;
  display: inline-block;
  padding: 4px 20px;
  color: #ffffff;
  font-weight: normal;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
}
@media screen and (max-width: 768px) {
  /* line 172, ../sass/mystyles.scss */
  .renew a.arrow {
    display: block;
    width: 100%;
    padding: 8px 10px;
    text-align: center;
  }
}
/* line 188, ../sass/mystyles.scss */
.renew a.arrow .glyphicon {
  top: 1px;
  left: 6px;
  transform: scale(0.8, 0.8);
}
/* line 193, ../sass/mystyles.scss */
.renew a.arrow.glay {
  background-color: #b1b1b1;
}
@media screen and (min-width: 768px) {
  /* line 196, ../sass/mystyles.scss */
  .renew a.arrow:hover {
    opacity: 0.7;
  }
}
/* line 202, ../sass/mystyles.scss */
.renew .payment-attention {
  font-size: 11px;
  margin-top: 7px;
}
/* line 206, ../sass/mystyles.scss */
.renew .form-horizontal .form-control-static {
  padding-top: 7px;
  padding-bottom: 0;
  min-height: 1;
}
/* line 210, ../sass/mystyles.scss */
.renew .form-horizontal .form-control-static address {
  margin-bottom: 0;
}
/* line 214, ../sass/mystyles.scss */
.renew .control-label {
  font-weight: normal;
}
/* line 217, ../sass/mystyles.scss */
.renew .subsc-menu {
  margin-top: 30px;
  padding: 10px 0;
  border: 2px solid #ececec;
}
@media screen and (max-width: 768px) {
  /* line 217, ../sass/mystyles.scss */
  .renew .subsc-menu {
    padding-bottom: 10px;
  }
}
/* line 224, ../sass/mystyles.scss */
.renew .subsc-menu a {
  color: #ff7a0f;
  border-bottom: none;
  font-weight: normal;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
}
@media screen and (min-width: 768px) {
  /* line 230, ../sass/mystyles.scss */
  .renew .subsc-menu a:hover {
    opacity: 0.7;
  }
}

/* line 239, ../sass/mystyles.scss */
#subscripion-info {
  position: relative;
}
/* line 241, ../sass/mystyles.scss */
#subscripion-info .wraps {
  padding: 16px 0;
}
/* line 243, ../sass/mystyles.scss */
#subscripion-info .wraps .info {
  margin-top: 15px;
}
/* line 245, ../sass/mystyles.scss */
#subscripion-info .wraps .info .col-sm-8 {
  padding-top: 6px;
}
/* line 249, ../sass/mystyles.scss */
#subscripion-info .wraps .price {
  text-align: right;
}
@media screen and (max-width: 768px) {
  /* line 249, ../sass/mystyles.scss */
  #subscripion-info .wraps .price {
    text-align: left;
    display: inline-block;
    margin-bottom: 10px;
  }
}
/* line 257, ../sass/mystyles.scss */
#subscripion-info .wraps .price b {
  font-weight: bold;
  font-size: 22px;
  position: relative;
}
/* line 261, ../sass/mystyles.scss */
#subscripion-info .wraps .price b span {
  position: relative;
  z-index: 2;
}
/* line 265, ../sass/mystyles.scss */
#subscripion-info .wraps .price b:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4%;
  width: 108%;
  height: 4px;
  z-index: 1;
  background-color: #ffe7d1;
}
/* line 277, ../sass/mystyles.scss */
#subscripion-info:before {
  content: '';
  position: absolute;
  transform: scale(1, 2);
  height: 43%;
  width: 1px;
  border-left: 1px dashed #ff7a0f;
  left: 50%;
  top: 35%;
  margin-left: -0.5px;
}
@media screen and (max-width: 768px) {
  /* line 277, ../sass/mystyles.scss */
  #subscripion-info:before {
    display: none;
  }
}
/* line 291, ../sass/mystyles.scss */
#subscripion-info .image-wrap {
  padding: 15px;
  border-radius: 5px;
  background-color: #ffe4cf;
}

/* line 298, ../sass/mystyles.scss */
#subscripion-info h2.title:before {
  right: -30px;
  width: 280px;
  height: 140px;
  background: url("../assets/images/subscribe-icon.png") no-repeat;
}
@media screen and (max-width: 768px) {
  /* line 298, ../sass/mystyles.scss */
  #subscripion-info h2.title:before {
    width: 40%;
    right: -10px;
    background-size: contain;
    background-position: center bottom;
  }
}

/* line 310, ../sass/mystyles.scss */
#cb-portal-billing h2.title:before {
  right: -10px;
  width: 83px;
  height: 70px;
  background: url("../assets/images/billing-icon.png") no-repeat;
}
@media screen and (max-width: 768px) {
  /* line 310, ../sass/mystyles.scss */
  #cb-portal-billing h2.title:before {
    background-position: center bottom;
  }
}

/* line 319, ../sass/mystyles.scss */
#cb-portal-payment-method h2.title:before {
  right: 10px;
  width: 48px;
  height: 47px;
  background: url("../assets/images/payment-icon.png") no-repeat;
}
@media screen and (max-width: 768px) {
  /* line 319, ../sass/mystyles.scss */
  #cb-portal-payment-method h2.title:before {
    background-position: center bottom;
  }
}

/* line 330, ../sass/mystyles.scss */
#cb-portal-payment-method .info-box {
  padding: 9px 16px;
}
/* line 333, ../sass/mystyles.scss */
#cb-portal-payment-method .info-box .form-horizontal .alert-info {
  margin-top: 10px;
}
/* line 338, ../sass/mystyles.scss */
#cb-portal-payment-method .col-sm-6 {
  width: 100%;
  text-align: left;
}
/* line 341, ../sass/mystyles.scss */
#cb-portal-payment-method .col-sm-6 .control-label {
  text-align: left;
}

/* line 346, ../sass/mystyles.scss */
#cb-portal-invoice-table tr:first-child {
  background-color: #f7f7f7;
  font-weight: bold;
}

/* line 351, ../sass/mystyles.scss */
#cb-portal-invoice-table tr, #cb-portal-invoice-table td, #cb-portal-invoice-table th {
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  /* line 354, ../sass/mystyles.scss */
  #cb-portal-invoice-table tr {
    display: block;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    overflow: hidden;
    margin-bottom: 20px;
  }
}
/* line 363, ../sass/mystyles.scss */
#cb-portal-invoice-table td {
  border: 1px solid #b1b1b1;
}
@media screen and (max-width: 768px) {
  /* line 363, ../sass/mystyles.scss */
  #cb-portal-invoice-table td {
    display: block !important;
    width: 50%;
    float: left;
    border: none;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    padding-left: 10px;
  }
  /* line 374, ../sass/mystyles.scss */
  #cb-portal-invoice-table td.visible-xs {
    background-color: #f7f7f7;
    font-weight: bold;
  }
}
@media screen and (max-width: 768px) {
  /* line 379, ../sass/mystyles.scss */
  #cb-portal-invoice-table td.paid_st, #cb-portal-invoice-table td.pdf-link {
    width: 100%;
    text-align: center;
    padding-left: 5px;
  }
}
@media screen and (max-width: 768px) {
  /* line 387, ../sass/mystyles.scss */
  #cb-portal-invoice-table td.paid_st.hidden-xs {
    border: none;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 395, ../sass/mystyles.scss */
  #cb-portal-invoice-table td.pdf-link a {
    width: 70%;
    margin: 0 auto;
  }
}
/* line 401, ../sass/mystyles.scss */
#cb-portal-invoice-table td:before {
  background-color: #000000;
}
@media screen and (max-width: 768px) {
  /* line 404, ../sass/mystyles.scss */
  #cb-portal-invoice-table td:last-child {
    border-color: #e1e1e1;
  }
}
/* line 409, ../sass/mystyles.scss */
#cb-portal-invoice-table td .arrow {
  padding: 4px 10px;
}
/* line 411, ../sass/mystyles.scss */
#cb-portal-invoice-table td .arrow .glyphicon {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  left: 4px;
}

/* line 420, ../sass/mystyles.scss */
.cb-available-list {
  max-height: none;
}

/* line 424, ../sass/mystyles.scss */
.reactivate-info {
  position: relative;
  top: 30px;
}

/* line 428, ../sass/mystyles.scss */
.navbar-nav {
  margin-top: 0 !important;
}

/* line 432, ../sass/mystyles.scss */
#g-mail.common {
  margin: 0 auto;
  margin-bottom: 10px;
}

/* line 437, ../sass/mystyles.scss */
header nav .nav-area ul li.center-logo a {
  background-size: auto 60px;
  height: 68px;
  width: 332px;
}
/* line 442, ../sass/mystyles.scss */
header nav .nav-area ul li.center-logo.yume a {
  width: 260px;
  top: -5px;
  background: url("../assets/images/yume/yume-logo.png") center 4px no-repeat;
  background-size: auto 60px;
}

/* line 450, ../sass/mystyles.scss */
#skip_a_month .skip-desc input.button {
  box-shadow: 0 5px 0 #1398e4 !important;
  background-color: #38b6fe !important;
}
/* line 453, ../sass/mystyles.scss */
#skip_a_month .skip-desc input.button:hover {
  box-shadow: none !important;
}

@media screen and (max-width: 768px) {
  /* line 460, ../sass/mystyles.scss */
  #paypal_express_checkout .control-label, #card_info .control-label {
    padding-top: 7px;
  }
}
