/* line 1, ../sass/mystyles.scss */
.container.renew {
  width: 920px;
  margin: 0 auto;
}

/* line 5, ../sass/mystyles.scss */
h2.title {
  position: relative;
  text-align: center;
  color: #ff7a0f;
  padding: 15px 0;
  margin: 0;
}
/* line 11, ../sass/mystyles.scss */
h2.title:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 18, ../sass/mystyles.scss */
.back-orange {
  background-color: #ff7a0f;
}
/* line 20, ../sass/mystyles.scss */
.back-orange.title {
  color: #ffffff;
}

/* line 24, ../sass/mystyles.scss */
.back-glay {
  background-color: #efefef;
}
/* line 26, ../sass/mystyles.scss */
.back-glay.title {
  color: #ff7a0f;
  border-bottom: 2px solid #b1b1b1;
}

/* line 31, ../sass/mystyles.scss */
.renew {
  width: 920px;
  margin: 0 auto;
}
/* line 34, ../sass/mystyles.scss */
.renew .cb-well {
  padding: 0;
}
/* line 36, ../sass/mystyles.scss */
.renew .cb-well.glay-border {
  border: 2px solid #b1b1b1;
}
/* line 40, ../sass/mystyles.scss */
.renew #cb-portal-billing address {
  padding: 16px;
}
/* line 43, ../sass/mystyles.scss */
.renew a.arrow {
  background-color: #ff7a0f;
  border-bottom: none;
  border-radius: 5px;
  display: inline-block;
  padding: 4px 20px;
  color: #ffffff;
}
/* line 50, ../sass/mystyles.scss */
.renew a.arrow .glyphicon {
  top: 2px;
  left: 6px;
}
/* line 54, ../sass/mystyles.scss */
.renew a.arrow.glay {
  background-color: #b1b1b1;
}

/* line 60, ../sass/mystyles.scss */
#subscripion-info {
  position: relative;
}
/* line 62, ../sass/mystyles.scss */
#subscripion-info .wraps {
  padding: 16px 0;
}
/* line 65, ../sass/mystyles.scss */
#subscripion-info:before {
  content: '';
  position: absolute;
  transform: scale(1, 2);
  height: 34%;
  width: 1px;
  border-left: 2px dashed #ff7a0f;
  left: 50%;
  top: 42%;
  margin-left: -1px;
}
/* line 76, ../sass/mystyles.scss */
#subscripion-info .image-wrap {
  border-radius: 5px;
  background-color: #ffe4cf;
}

/* line 82, ../sass/mystyles.scss */
#subscripion-info h2.title:before {
  right: -30px;
  width: 280px;
  height: 140px;
  background: url("../assets/images/subscribe-icon.png") no-repeat;
}

/* line 88, ../sass/mystyles.scss */
#cb-portal-billing h2.title:before {
  right: -10px;
  width: 83px;
  height: 70px;
  background: url("../assets/images/billing-icon.png") no-repeat;
}

/* line 94, ../sass/mystyles.scss */
#cb-portal-payment-method h2.title:before {
  right: 10px;
  width: 48px;
  height: 47px;
  background: url("../assets/images/payment-icon.png") no-repeat;
}

/* line 102, ../sass/mystyles.scss */
#cb-portal-payment-method .info-box {
  padding: 9px 16px;
}
/* line 105, ../sass/mystyles.scss */
#cb-portal-payment-method .col-sm-6 {
  width: 100%;
  text-align: left;
}
/* line 108, ../sass/mystyles.scss */
#cb-portal-payment-method .col-sm-6 .control-label {
  text-align: left;
}

/* line 113, ../sass/mystyles.scss */
#cb-portal-invoice-table tr:first-child {
  background-color: #f7f7f7;
}

/* line 116, ../sass/mystyles.scss */
#cb-portal-invoice-table td {
  border: 1px solid #b1b1b1;
}
