@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i");
/* Rubik */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: 'Rubik', sans-serif;
}

body#nomake {
  /* ========= */
}
body#nomake .text-darkblue {
  color: #030303;
}
body#nomake .info .text-orange {
  margin-top: 10px;
}
body#nomake header nav .nav-area ul li.center-logo {
  float: none;
}
body#nomake header nav .nav-area ul li.center-logo a {
  height: 63px;
  width: auto;
  margin: 0 auto;
  background: url("../assets/images/nomake/nomake-logo.jpg") center 4px no-repeat;
  background-size: auto 50px;
}
body#nomake header nav .nav-area ul li.link-p {
  float: none;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 10px;
}
body#nomake .sp-logo {
  width: 100%;
  height: 67px;
  margin: 0 auto;
  background: url("../assets/images/nomake/nomake-logo.jpg") 15px 6px no-repeat;
  background-size: auto 50px;
}
body#nomake #subscripion-info .image-wrap {
  background: #ede8e9;
}
body#nomake #subscripion-info .wraps .price b:before {
  bottom: -4px;
  background-color: #ede8e9;
}
body#nomake .back-glay.title {
  border-radius: 0;
}
body#nomake #Timeline .modal-header {
  border-radius: 0;
}
body#nomake .renew a.arrow {
  border-radius: 0;
  padding: 6px 20px 4px;
}
body#nomake #subscripion-info .image-wrap {
  border-radius: 0;
}
body#nomake #subscripion-info .wraps .info small {
  font-size: 75%;
}
body#nomake #subscripion-info h2.title:before {
  width: 280px;
  height: 140px;
  background: none;
}
@media screen and (max-width: 768px) {
  body#nomake #subscripion-info h2.title:before {
    width: 40%;
    right: -10px;
    background-size: contain;
    background-position: center bottom;
  }
}
body#nomake #cb-portal-billing h2.title:before {
  right: 0px;
  width: 81px;
  height: 88px;
  background: none;
}
body#nomake #cb-portal-payment-method h2.title:before {
  right: -3px;
  width: 63px;
  height: 89px;
  background: none;
}
@media screen and (max-width: 768px) {
  body#nomake #cb-portal-payment-method h2.title:before {
    top: -30px;
  }
}
body#nomake header {
  border-top: 12px solid #000;
}
@media screen and (max-width: 768px) {
  body#nomake header {
    border: none;
  }
}
body#nomake #g-menu {
  left: 0;
  width: 100%;
  text-align: center;
}
body#nomake ul#g-menu.add_menu {
  left: 0;
}
body#nomake .cb-well {
  border: 2px solid #030303;
  border-radius: 0;
}
body#nomake .cb-well .alert-info {
  border-radius: 0;
}
body#nomake .cb-well h3 {
  font-family: 'Rubik', sans-serif;
}
body#nomake .renew a.arrow,
body#nomake .back-orange {
  background-color: #030303;
}
body#nomake .go_cancel a,
body#nomake .go_top a,
body#nomake .copyright,
body#nomake .subsc-menu a,
body#nomake .text-orange,
body#nomake .cb-well h3,
body#nomake h2.title,
body#nomake .back-glay.title {
  color: #030303;
}
body#nomake .copyright {
  padding: 15px 0;
}
body#nomake h2.title {
  padding: 15px 0px 20px;
}
body#nomake .subsc-menu a {
  color: #030303 !important;
}
body#nomake #subscripion-info h2.title {
  color: #d3effa;
  padding: 15px 0 20px;
}
body#nomake #subscripion-info:before {
  border-left: 1px dashed #030303 !important;
}
@media screen and (max-width: 768px) {
  body#nomake .renew .box-info:before {
    border-top: 1px dashed #030303;
  }
}
body#nomake .navbar-toggle .icon-bar {
  background: #030303;
}
@media screen and (max-width: 768px) {
  body#nomake .navbar-nav {
    background-color: #030303;
    margin-top: 0;
  }
}
body#nomake .navbar-collapse > .navbar-nav > .dropdown {
  margin-top: 0;
}
body#nomake .navbar-collapse > .navbar-nav a:hover, body#nomake .navbar-collapse > .navbar-nav > .dropdown > a:hover, body#nomake .navbar-collapse > .navbar-nav > .dropdown > a:focus, body#nomake .navbar-collapse > .navbar-nav > .dropdown.open > a, body#nomake .nav .open > a, body#nomake .nav .open > a:hover, body#nomake .nav .open > a:focus {
  background: #030303;
  border-color: #030303;
  border: 2px solid #030303;
}
body#nomake .navbar-collapse > .navbar-nav > .dropdown > a {
  border: 2px solid #030303;
  background-color: #030303;
  border-radius: 0;
  padding: 4px 10px;
}
body#nomake .navbar-collapse .navbar-nav .dropdown-menu {
  border: 2px solid #030303;
  border-radius: 0;
}
body#nomake #portal_subscription_cancel_submit:before {
  display: none;
}
body#nomake #back {
  color: #d3effa;
}
body#nomake .color-1 {
  color: #030303 !important;
}
body#nomake #cb-wrapper-ssp .cb-well a {
  color: #030303;
  border-bottom: 1px solid #030303;
}
body#nomake #cb-wrapper-ssp .cb-well a#back {
  color: #d3effa;
}
body#nomake #cb-wrapper-ssp .cb-well a:hover {
  border-bottom: 0;
}
body#nomake #top #cb-wrapper-ssp .cb-well a {
  color: #d3effa;
}
body#nomake #top #cb-wrapper-ssp .cb-well small a {
  color: #030303;
}
body#nomake #portal_subscription_cancel_submit {
  left: auto;
  margin: 0 auto;
}
body#nomake #portal_subscription_cancel_submit input[type="submit"] {
  color: #030303;
  border-bottom: 1px solid #030303 !important;
}
body#nomake .page-header {
  color: #030303;
}
body#nomake .cb-product-step.current {
  background: #030303;
}
body#nomake .cb-product-step.current:before {
  border-left-color: #030303;
}
body#nomake #skip_a_month {
  border: 2px solid #030303;
  background: url("../assets/images/nomake/skip.png") 2px center no-repeat;
}
@media screen and (max-width: 768px) {
  body#nomake #skip_a_month {
    background-size: 300px auto;
    background-position: bottom 18px center;
    padding-bottom: 250px;
  }
}
body#nomake .modal-header a,
body#nomake .payment-history small a {
  font-weight: 700;
  color: #030303;
  text-decoration: underline !important;
}
body#nomake .modal-header a:hover,
body#nomake .payment-history small a:hover {
  color: #030303;
  text-decoration: none !important;
}
body#nomake #cb-portal-billing .info-box {
  padding: 20px 16px 0;
}
body#nomake .attention_text {
  color: #030303;
}
body#nomake footer {
  margin-top: 60px;
}
body#nomake .cb-alert-flash .alert, body#nomake .cb-alert-flash .loader {
  padding: 5px 8px;
}
body#nomake .cb-alert-flash .alert .glyphicon, body#nomake .cb-alert-flash .loader .glyphicon {
  top: 2px;
}
