/* line 2, ../sass/yume-theme.scss */
body#yume .text-darkblue {
  color: #F58BDC;
}
/* line 5, ../sass/yume-theme.scss */
body#yume header nav .nav-area ul li.center-logo {
  float: none;
}
/* line 7, ../sass/yume-theme.scss */
body#yume header nav .nav-area ul li.center-logo a {
  height: 63px;
  width: 322px;
  margin: 0 auto;
  background: url("../assets/images/yume/yume-logo.png") center 4px no-repeat;
  background-size: auto 50px;
}
/* line 15, ../sass/yume-theme.scss */
body#yume header nav .nav-area ul li.link-p {
  float: none;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 10px;
}
/* line 22, ../sass/yume-theme.scss */
body#yume .sp-logo {
  width: 100%;
  height: 67px;
  margin: 0 auto;
  background: url("../assets/images/yume/yume-logo.png") 15px 6px no-repeat;
  background-size: auto 50px;
}
/* line 29, ../sass/yume-theme.scss */
body#yume #subscripion-info .image-wrap {
  background: #FFEBFA;
}
/* line 32, ../sass/yume-theme.scss */
body#yume #subscripion-info h2.title:before {
  width: 280px;
  height: 140px;
  background: url("../assets/images/yume/subscribe-icon.png") no-repeat;
}
@media screen and (max-width: 768px) {
  /* line 32, ../sass/yume-theme.scss */
  body#yume #subscripion-info h2.title:before {
    width: 40%;
    right: -10px;
    background-size: contain;
    background-position: center bottom;
  }
}
/* line 44, ../sass/yume-theme.scss */
body#yume #cb-portal-billing h2.title:before {
  right: 0px;
  width: 81px;
  height: 88px;
  background: url("../assets/images/yume/billing-icon.png") no-repeat;
}
/* line 50, ../sass/yume-theme.scss */
body#yume #cb-portal-payment-method h2.title:before {
  right: -3px;
  width: 63px;
  height: 89px;
  background: url("../assets/images/yume/payment-icon.png") no-repeat;
}
@media screen and (max-width: 768px) {
  /* line 50, ../sass/yume-theme.scss */
  body#yume #cb-portal-payment-method h2.title:before {
    top: -30px;
  }
}
/* line 60, ../sass/yume-theme.scss */
body#yume header {
  border-top: 12px solid #bf92cb;
}
@media screen and (max-width: 768px) {
  /* line 60, ../sass/yume-theme.scss */
  body#yume header {
    border: none;
  }
}
/* line 66, ../sass/yume-theme.scss */
body#yume #g-menu {
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 71, ../sass/yume-theme.scss */
body#yume ul#g-menu.add_menu {
  left: 0;
}
/* line 74, ../sass/yume-theme.scss */
body#yume .cb-well {
  border: 2px solid #bf92cb;
}
/* line 77, ../sass/yume-theme.scss */
body#yume .renew a.arrow,
body#yume .back-orange {
  background-color: #bf92cb;
}
/* line 81, ../sass/yume-theme.scss */
body#yume .go_cancel a,
body#yume .go_top a,
body#yume .copyright,
body#yume .subsc-menu a,
body#yume .text-orange,
body#yume .cb-well h3,
body#yume h2.title,
body#yume .back-glay.title {
  color: #bf92cb;
}
/* line 91, ../sass/yume-theme.scss */
body#yume .subsc-menu a {
  color: #bf92cb !important;
}
/* line 94, ../sass/yume-theme.scss */
body#yume #subscripion-info h2.title {
  color: #ffffff;
}
/* line 97, ../sass/yume-theme.scss */
body#yume #subscripion-info:before {
  border-left: 1px dashed #bf92cb !important;
}
@media screen and (max-width: 768px) {
  /* line 100, ../sass/yume-theme.scss */
  body#yume .renew .box-info:before {
    border-top: 1px dashed #bf92cb;
  }
}
/* line 105, ../sass/yume-theme.scss */
body#yume .navbar-toggle .icon-bar {
  background: #bf92cb;
}
@media screen and (max-width: 768px) {
  /* line 108, ../sass/yume-theme.scss */
  body#yume .navbar-nav {
    background-color: #bf92cb;
    margin-top: 0;
  }
}
/* line 114, ../sass/yume-theme.scss */
body#yume .navbar-collapse > .navbar-nav > .dropdown {
  margin-top: 0;
}
/* line 118, ../sass/yume-theme.scss */
body#yume .navbar-collapse > .navbar-nav a:hover, body#yume .navbar-collapse > .navbar-nav > .dropdown > a:hover, body#yume .navbar-collapse > .navbar-nav > .dropdown > a:focus, body#yume .navbar-collapse > .navbar-nav > .dropdown.open > a, body#yume .nav .open > a, body#yume .nav .open > a:hover, body#yume .nav .open > a:focus {
  background: #bf92cb;
  border-color: #bf92cb;
  border: 2px solid #bf92cb;
}
/* line 124, ../sass/yume-theme.scss */
body#yume .navbar-collapse > .navbar-nav > .dropdown > a {
  border: 2px solid #bf92cb;
  background-color: #bf92cb;
}
/* line 128, ../sass/yume-theme.scss */
body#yume .navbar-collapse .navbar-nav .dropdown-menu {
  border: 2px solid #bf92cb;
}
/* line 132, ../sass/yume-theme.scss */
body#yume #portal_subscription_cancel_submit:before {
  display: none;
}
/* line 135, ../sass/yume-theme.scss */
body#yume #back {
  color: #ffffff;
}
/* line 138, ../sass/yume-theme.scss */
body#yume .color-1 {
  color: #bf92cb !important;
}
/* line 141, ../sass/yume-theme.scss */
body#yume #cb-wrapper-ssp .cb-well a {
  color: #bf92cb;
  border-bottom: 1px solid #bf92cb;
}
/* line 144, ../sass/yume-theme.scss */
body#yume #cb-wrapper-ssp .cb-well a#back {
  color: #ffffff;
}
/* line 149, ../sass/yume-theme.scss */
body#yume #top #cb-wrapper-ssp .cb-well a {
  color: #ffffff;
}
/* line 153, ../sass/yume-theme.scss */
body#yume #portal_subscription_cancel_submit {
  left: auto;
  margin: 0 auto;
}
/* line 157, ../sass/yume-theme.scss */
body#yume #portal_subscription_cancel_submit input[type="submit"] {
  color: #bf92cb;
  border-bottom: 1px solid #bf92cb !important;
}
/* line 162, ../sass/yume-theme.scss */
body#yume .page-header {
  color: #bf92cb;
}
/* line 165, ../sass/yume-theme.scss */
body#yume .cb-product-step.current {
  background: #bf92cb;
}
/* line 168, ../sass/yume-theme.scss */
body#yume .cb-product-step.current:before {
  border-left-color: #bf92cb;
}
/* line 172, ../sass/yume-theme.scss */
body#yume #skip_a_month {
  border: 2px solid #bf92cb;
  background: url("../assets/images/yume/skip.png") 2px center no-repeat;
}
@media screen and (max-width: 768px) {
  /* line 172, ../sass/yume-theme.scss */
  body#yume #skip_a_month {
    background-size: 300px auto;
    background-position: bottom 18px center;
    padding-bottom: 250px;
  }
}
