@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'); /* Rubik */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: 'Rubik', sans-serif;
}
body#nomake{
  .text-darkblue{
      color: #030303;
  }
  .info .text-orange {
    margin-top: 10px;
  }
  header nav .nav-area ul li.center-logo{
    float: none;
    a{
      height: 63px;
      width: auto;
      margin:0 auto;
      background: url('../assets/images/nomake/nomake-logo.jpg') center 4px no-repeat;
      background-size: auto 50px;
    }
  }
  header nav .nav-area ul li.link-p{
    float: none;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10px;
  }
  .sp-logo{
    width: 100%;
    height: 67px;
    margin: 0 auto;
    background: url('../assets/images/nomake/nomake-logo.jpg') 15px 6px no-repeat;
    background-size: auto 50px;
  }
  #subscripion-info .image-wrap{
    background: #ede8e9;
  }

  #subscripion-info{
    .wraps{
      .price b{
        &:before{
          bottom: -4px;
          background-color: #ede8e9;
        }
      }
    }
  }

  /* ========= */
  .back-glay{
    &.title{
      border-radius: 0;
    }
  }
  #Timeline{
    .modal-header{
      border-radius: 0;
    }
  }
  .renew {
    a.arrow{
      border-radius: 0;
      padding: 6px 20px 4px;
    }
  }
  #subscripion-info{
    .image-wrap{
      border-radius: 0;
    }
    .wraps .info small {
      font-size: 75%;
    }
  }
  #subscripion-info h2.title:before{
    width: 280px;
    height: 140px;
    background: none;
    @media screen and (max-width: 768px){
      width: 40%;
      right: -10px;
      background-size: contain;
      background-position: center bottom;
    }
  }

  #cb-portal-billing h2.title:before{
    right: 0px;
    width: 81px;
    height: 88px;
    background: none;
  }
  #cb-portal-payment-method h2.title:before{
    right: -3px;
    width: 63px;
    height: 89px;
    background: none;
    @media screen and (max-width: 768px){
      top:-30px;
    }
  } 

  header{
    border-top: 12px solid #000;
    @media screen and (max-width: 768px){
      border:none;
    }
  }
  #g-menu{
    left: 0;
    width: 100%;
    text-align: center;
  }
  ul#g-menu.add_menu{
    left:0;
  }
  .cb-well{
    border: 2px solid #030303;
    border-radius: 0;
    .alert-info {
      border-radius: 0;
    }
    h3 {
      font-family: 'Rubik', sans-serif;
    }
  }
  .renew a.arrow,
  .back-orange{
    background-color:#030303;
  }
  .go_cancel a,
  .go_top a,
  .copyright,
  .subsc-menu a,
  .text-orange,
  .cb-well h3,
  h2.title,
  .back-glay.title{
    color: #030303;
  }
  .copyright {
    padding: 15px 0;
  }
  h2.title {
    padding: 15px 0px 20px;
  }
  .subsc-menu a{
    color: #030303!important;
  }
  #subscripion-info h2.title{
    color: #d3effa;
    padding: 15px 0 20px;
  }
  #subscripion-info:before{
    border-left: 1px dashed #030303!important;
  }
  .renew .box-info:before{
    @media screen and (max-width: 768px){
      border-top: 1px dashed #030303;
    }
  }
  .navbar-toggle .icon-bar{
    background: #030303;
  }
  .navbar-nav{
    @media screen and (max-width: 768px){
      background-color:#030303;
      margin-top:0;
    }
  }
  .navbar-collapse > .navbar-nav > .dropdown{
    margin-top:0;
  }

.navbar-collapse > .navbar-nav a:hover, .navbar-collapse > .navbar-nav > .dropdown > a:hover, .navbar-collapse > .navbar-nav > .dropdown > a:focus, .navbar-collapse > .navbar-nav > .dropdown.open > a, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus
{
  background: #030303;
  border-color: #030303;
  border: 2px solid #030303;
}
.navbar-collapse > .navbar-nav > .dropdown > a{
  border: 2px solid #030303;
  background-color: #030303;
  border-radius: 0;
  padding: 4px 10px;
}
.navbar-collapse .navbar-nav .dropdown-menu{
  border: 2px solid #030303;
  border-radius: 0;
}

#portal_subscription_cancel_submit:before{
  display: none;
}
#back{
  color: #d3effa;
}
.color-1{
  color: #030303!important;
}
#cb-wrapper-ssp .cb-well a{
  color: #030303;
  border-bottom: 1px solid #030303;
  &#back{
    color: #d3effa;
  }
  &:hover {
    border-bottom: 0;
  }
}
#top{
  #cb-wrapper-ssp .cb-well a{
    color: #d3effa;
  }
  #cb-wrapper-ssp .cb-well small a{
    color: #030303;
  }
}
#portal_subscription_cancel_submit{
  left: auto;
  margin: 0 auto;
}
#portal_subscription_cancel_submit input[type="submit"]{
  color: #030303;
  border-bottom: 1px solid #030303!important;
}

.page-header{
  color: #030303;
}
.cb-product-step.current{
  background: #030303;
}
.cb-product-step.current:before{
  border-left-color: #030303;
}

#skip_a_month{
  border: 2px solid #030303;
  background: url('../assets/images/nomake/skip.png') 2px center no-repeat;
  @media screen and (max-width: 768px){
    background-size: 300px auto;
    background-position: bottom 18px center;
    padding-bottom:250px;
  }
}

.modal-header a,
.payment-history small a {
  font-weight: 700;
  color: #030303;
  text-decoration: underline !important;
  &:hover {
    color: #030303;
    text-decoration: none !important;
  }
}
 #cb-portal-billing .info-box {
    padding: 20px 16px 0;
 }
 .attention_text {
  color: #030303;
 }
 footer {
  margin-top: 60px;
 }
 .cb-alert-flash .alert, .cb-alert-flash .loader {
  padding: 5px 8px;
  .glyphicon {
    top: 2px;
  }
 }
}