body#yume{
  .text-darkblue{
      color: #F58BDC;
  }
  header nav .nav-area ul li{
    line-height: 53px;
    padding-top:10px;
    padding-bottom:20px;
    .dropdown-menu{
      li{
        padding:0;
      }
    }
  }
  header nav .nav-area ul li.center-logo{
    padding-bottom:0;
    a{
      height: 63px;
      width: 220px;
      margin:0 auto;
      background: url('../assets/images/yume/yume-logo.png') center 4px no-repeat;
      background-size: auto 50px;
    }
  }
  header nav .nav-area ul li.link-p{
    float: none;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10px;
  }
  .sp-logo{
    width: 100%;
    height: 67px;
    margin: 0 auto;
    background: url('../assets/images/yume/yume-logo.png') 15px 6px no-repeat;
    background-size: auto 50px;
  }
  #subscripion-info .image-wrap{
    background: #FFEBFA;
  }
  #subscripion-info h2.title:before{
    width: 280px;
    height: 140px;
    background: url("../assets/images/yume/subscribe-icon.png") no-repeat;
    @media screen and (max-width: 768px){
      width: 40%;
      right: -10px;
      background-size: contain;
      background-position: center bottom;
    }
  }

  #cb-portal-billing h2.title:before{
    right: 0px;
    width: 81px;
    height: 88px;
    background: url("../assets/images/yume/billing-icon.png") no-repeat;
  }
  #cb-portal-payment-method h2.title:before{
    right: -3px;
    width: 63px;
    height: 89px;
    background: url("../assets/images/yume/payment-icon.png") no-repeat;
    @media screen and (max-width: 768px){
      top:-30px;
    }
  } 

  header{
    border-top: 12px solid #bf92cb;
    @media screen and (max-width: 768px){
      border:none;
    }
  }
  #g-menu{
    left: 0;
    display: inline-block;
    text-align: center;
  }
  ul#g-menu.add_menu{
    left:15px;
  }
  .cb-well{
    border: 2px solid #bf92cb;
  }
  .renew a.arrow,
  .back-orange{
    background-color:#bf92cb;
  }
  .go_cancel a,
  .go_top a,
  .copyright,
  .subsc-menu a,
  .text-orange,
  .cb-well h3,
  h2.title,
  .back-glay.title{
    color: #bf92cb;
  }
  .subsc-menu a{
    color: #bf92cb!important;
  }
  #subscripion-info h2.title{
    color: #ffffff;
  }
  #subscripion-info:before{
    border-left: 1px dashed #bf92cb!important;
  }
  .renew .box-info:before{
    @media screen and (max-width: 768px){
      border-top: 1px dashed #bf92cb;
    }    
  }
  .navbar-toggle .icon-bar{
    background: #bf92cb;
  }
  .navbar-nav{
    @media screen and (max-width: 768px){
      background-color:#bf92cb;
      margin-top:0;
    }
  }
  .navbar-collapse > .navbar-nav > .dropdown{
    margin-top:14px;
  }

.navbar-collapse > .navbar-nav a:hover, .navbar-collapse > .navbar-nav > .dropdown > a:hover, .navbar-collapse > .navbar-nav > .dropdown > a:focus, .navbar-collapse > .navbar-nav > .dropdown.open > a, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus
{
  background: #bf92cb;
  border-color: #bf92cb;
  border: 2px solid #bf92cb;
}
.navbar-collapse > .navbar-nav > .dropdown > a{
  border: 2px solid #bf92cb;
  background-color: #bf92cb;
}
.navbar-collapse .navbar-nav .dropdown-menu{
  border: 2px solid #bf92cb;
}

#portal_subscription_cancel_submit:before{
  display: none;
}
#back{
  color: #ffffff;
}
.color-1{
  color: #bf92cb!important;
}
#cb-wrapper-ssp .cb-well a{
  color: #bf92cb;
  border-bottom: 1px solid #bf92cb;
  &#back{
    color: #ffffff;
  }
}
#top{
  #cb-wrapper-ssp .cb-well a{
    color: #ffffff;
  }
  #cb-wrapper-ssp .cb-well small a{
    color: #bf92cb;
  }
}
#portal_subscription_cancel_submit{
  left: auto;
  margin: 0 auto;
}
#portal_subscription_cancel_submit input[type="submit"]{
  color: #bf92cb;
  border-bottom: 1px solid #bf92cb!important;
}

.page-header,
footer .footer-copyright-area .footer-menu ul li a{
  color: #bf92cb;
}
.cb-product-step.current{
  background: #bf92cb;
}
.cb-product-step.current:before{
  border-left-color: #bf92cb;
}

#skip_a_month{
  border: 2px solid #bf92cb;
  background: url('../assets/images/yume/skip.png') 2px center no-repeat;
  @media screen and (max-width: 768px){
    background-size: 300px auto;
    background-position: bottom 18px center;
    padding-bottom:250px;
  }
}

footer .mailmagazine-area{
  background-color: #bf92cb;
}

.social{
  position: absolute;
  z-index: 10;
  right: 15px;
  top:50%;
  margin-top:-15px;
  @media (max-width: 768px){
    position: relative;
    right: auto;
    top:auto;
    margin-top:10px;
    line-height: 40px;
    height: 30px;
  }
  ul{
    padding:0;
    margin:0;
    overflow: hidden;
    @media (max-width: 768px){
      display: inline-block;
      margin-left: -14px;
    }
    li{
      float: left;
      margin-left: 20px;
      &:hover{
        opacity:0.7;
      }
      a{
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url('../assets/images/yume/social-icon.png') no-repeat;
        &.fb{
          background-position: 0 0;
        }
        &.twitter{
          background-position: -54px 0;
        }
        &.instagram{
          top:0;
          background-position: -112px 0;
        }
        &.pinterest{
          background-position: -172px 0;
        }
        &.youtube{
          top:0;
          background-position: -230px 0;
        }
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
}


}